In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import geopandas as gpd

sns.set(context='notebook', style='whitegrid', palette='Accent', font='Fira Sans')
%matplotlib inline

In [3]:
urban_zones = gpd.read_file('json/urban_zones_2016.json')
urban_zones.head()

,ID,AREA,Zona,Com,Comuna,area_km2,geometry
0,103,837.7500,103.0,13105,El Bosque,0.457565,"MULTIPOLYGON (((-70.65485 -33.55436, -70.65497..."
1,104,998.8125,104.0,13105,El Bosque,0.772546,"MULTIPOLYGON (((-70.67891 -33.55911, -70.67767..."
2,106,286.2500,106.0,13105,El Bosque,2.695745,"MULTIPOLYGON (((-70.67599 -33.55542, -70.67767..."
3,115,857.4375,115.0,13105,El Bosque,0.753419,"MULTIPOLYGON (((-70.67599 -33.55542, -70.67602..."
4,116,853.9375,116.0,13105,El Bosque,0.718431,"MULTIPOLYGON (((-70.66819 -33.55207, -70.66701..."

In [4]:
urban_municipalities = set(urban_zones.Comuna.unique())
len(urban_municipalities), urban_municipalities

(34,
 {'Cerrillos',
  'Cerro Navia',
  'Conchalí',
  'El Bosque',
  'Estación Central',
  'Huechuraba',
  'Independencia',
  'La Cisterna',
  'La Florida',
  'La Granja',
  'La Pintana',
  'La Reina',
  'Las Condes',
  'Lo Barnechea',
  'Lo Espejo',
  'Lo Prado',
  'Macul',
  'Maipú',
  'Pedro Aguirre Cerda',
  'Peñalolén',
  'Providencia',
  'Pudahuel',
  'Puente Alto',
  'Quilicura',
  'Quinta Normal',
  'Recoleta',
  'Renca',
  'San Bernardo',
  'San Joaquín',
  'San Miguel',
  'San Ramón',
  'Santiago',
  'Vitacura',
  'Ñuñoa'})

In [5]:
person = pd.read_csv('./2012_eod_stgo/EOD_STGO/personas.csv', sep=';', decimal=',', index_col=['Persona', 'Hogar'])
person.head()

,,AnoNac,Sexo,Relacion,Viajes,LicenciaConducir,PaseEscolar,AdultoMayor,Estudios,Curso,Actividad,...,TramoIngreso,IngresoFinal,TramoIngresoFinal,IngresoImputado,Factor_LaboralNormal,Factor_SabadoNormal,Factor_DomingoNormal,Factor_LaboralEstival,Factor_FindesemanaEstival,Factor
Persona,Hogar,,,,,,,,,,,,,,,,,,,,,
10001001,100010,1958,1,1,2,3,2,2,4.0,8.0,A,...,2,240000,2,0,NaN,NaN,1668.2600,NaN,NaN,82.58553
10001002,100010,1956,2,2,5,1,2,2,5.0,1.0,D,...,0,0,0,0,NaN,NaN,852.1137,NaN,NaN,99.53422
10001003,100010,1982,2,3,0,1,2,2,7.0,4.0,A,...,2,210845,2,2,NaN,NaN,1609.1630,NaN,NaN,151.59367
10002001,100020,1954,1,1,4,3,2,2,4.0,8.0,C,...,1,133000,1,0,169.50230,NaN,NaN,NaN,NaN,45.21325
10002002,100020,1961,2,2,2,1,2,2,4.0,8.0,A,...,1,193000,1,0,43.26765,NaN,NaN,NaN,NaN,25.62248

In [6]:
eod = pd.read_csv('./2012_eod_stgo/EOD_STGO/viajes.csv', encoding='iso-8859-1', sep=';', index_col='Viaje', decimal=',').join(person, on=['Persona', 'Hogar'])
eod.head()

,Hogar,Persona,Etapas,ComunaOrigen,ComunaDestino,SectorOrigen,SectorDestino,ZonaOrigen,ZonaDestino,OrigenCoordX,...,TramoIngreso,IngresoFinal,TramoIngresoFinal,IngresoImputado,Factor_LaboralNormal,Factor_SabadoNormal,Factor_DomingoNormal,Factor_LaboralEstival,Factor_FindesemanaEstival,Factor
Viaje,,,,,,,,,,,,,,,,,,,,,
1734310202,173431,17343102,1,94.0,94.0,2.0,2.0,400,407,335208.7188,...,0,0,0,0,142.3375,NaN,NaN,NaN,NaN,53.39174
1734410101,173441,17344101,2,94.0,71.0,2.0,3.0,407,307,338536.4375,...,2,350000,2,0,112.9581,NaN,NaN,NaN,NaN,46.32137
1734410102,173441,17344101,2,71.0,94.0,3.0,2.0,307,407,354267.3438,...,2,350000,2,0,112.9581,NaN,NaN,NaN,NaN,46.32137
1734410301,173441,17344103,2,94.0,91.0,2.0,3.0,407,437,338536.4375,...,7,283883,2,1,103.5267,NaN,NaN,NaN,NaN,43.02566
1734410302,173441,17344103,2,91.0,94.0,3.0,2.0,437,407,350841.6563,...,7,283883,2,1,103.5267,NaN,NaN,NaN,NaN,43.02566

In [7]:
purposes = pd.read_csv('./2012_eod_stgo/EOD_STGO/Tablas_parametros/Proposito.csv', sep=';', index_col='Id')
purposes

                       Proposito
Id
1                     Al trabajo
2                    Por trabajo
3                     Al estudio
4                    Por estudio
5                       De salud
6              Visitar a alguien
7                  volver a casa
8       Buscar o Dejar a alguien
9             Comer o Tomar algo
10           Buscar o dejar algo
11                    De compras
12                      Trámites
13                    Recreación
14  Otra actividad (especifique)

In [11]:
modes = pd.read_csv('./2012_eod_stgo/EOD_STGO/Tablas_parametros/ModoAgregado.csv', sep=';', encoding='iso-8859-1', index_col='ID')
modes

                      Modo
ID
1                     Auto
2                   Bus TS
3                Bus no TS
4                    Metro
5           Taxi Colectivo
6                    Taxi
7       Bus TS - Bus no TS
8             Auto - Metro
9           Bus TS - Metro
10       Bus no TS - Metro
11  Taxi Colectivo - Metro
12            Taxi - Metro
13           Otros - Metro
14          Otros - Bus TS
15  Otros - Bus TS - Metro
16                   Otros
17                Caminata
18               Bicicleta

In [12]:
distances = pd.read_csv('./2012_eod_stgo/EOD_STGO/DistanciaViaje.csv', sep=';', encoding='iso-8859-1', index_col='Viaje')
distances.head()

            DistEuclidiana  DistManhattan  Imputada
Viaje
1000100101              -1             -1         0
1000100102              -1             -1         0
1000100201              -1             -1         0
1000100202              -1             -1         0
1000100203              -1             -1         0

In [28]:
#mode_per_trip = (pd.read_csv('./2012_eod_stgo/EOD_STGO/ViajesDifusion.csv', sep=';', index_col='Viaje')
#                .join(modes.rename(columns={'Modo': 'mode_of_transportation'}), on='ModoDifusion')
#)
#mode_per_trip.head()

In [14]:
sectors = pd.read_csv('./2012_eod_stgo/EOD_STGO/Tablas_parametros/Sector.csv', sep=';', encoding='utf-8', index_col='Sector')
sectors

                        Nombre
Sector
1                        Norte
2                     Poniente
3                      Oriente
4                       Centro
5                          Sur
6                  Sur-Oriente
7       Extensión Sur-Poniente
9                Exterior a RM

In [15]:
comunas = pd.read_csv('./2012_eod_stgo/EOD_STGO/Tablas_parametros/Comunas.csv', sep=',', encoding='utf-8', index_col='Id')
comunas.sample(5)

         Comuna
Id
116  Las Cabras
105    Rancagua
112     Doñihue
92     La Reina
50    La Calera

In [16]:
comunas.Comuna.isin(urban_municipalities).sum(), len(urban_municipalities)

(34, 34)

In [19]:
modes.set_index('Modo').assign(test='holi')['test'].to_dict()

{'Auto': 'holi',
 'Bus TS': 'holi',
 'Bus no TS': 'holi',
 'Metro': 'holi',
 'Taxi Colectivo': 'holi',
 'Taxi ': 'holi',
 'Bus TS - Bus no TS': 'holi',
 'Auto - Metro': 'holi',
 'Bus TS - Metro': 'holi',
 'Bus no TS - Metro': 'holi',
 'Taxi Colectivo - Metro': 'holi',
 'Taxi - Metro': 'holi',
 'Otros - Metro': 'holi',
 'Otros - Bus TS': 'holi',
 'Otros - Bus TS - Metro': 'holi',
 'Otros': 'holi',
 'Caminata': 'holi',
 'Bicicleta': 'holi'}

In [22]:
mode_mapping = {'Auto': 'private',
 'Bus TS': 'bus',
 'Bus no TS': 'bus',
 'Metro': 'rail',
 'Taxi Colectivo': 'shared_taxi',
 'Taxi ': 'private',
 'Bus TS - Bus no TS': 'bus',
 'Auto - Metro': 'intermodal_private',
 'Bus TS - Metro': 'intermodal_public',
 'Bus no TS - Metro': 'intermodal_public',
 'Taxi Colectivo - Metro': 'intermodal_private',
 'Taxi - Metro': 'intermodal_private',
 'Otros - Metro': 'intermodal_public',
 'Otros - Bus TS': 'intermodal_public',
 'Otros - Bus TS - Metro': 'intermodal_public',
 'Otros': 'other',
 'Caminata': 'pedestrian',
 'Bicicleta': 'non_motorized'}

In [30]:
eod.Modo

AttributeError: 'DataFrame' object has no attribute 'Modo'

In [81]:
trip_features = (eod.join(distances)
 .pipe(lambda x: x[(x['Imputada'] == 0) & (~x.SectorOrigen.isin([0, 7, 9])) & (~x.SectorDestino.isin([0, 7, 9]))])
 .join(purposes.rename(columns={'Proposito': 'purpose'}), on='Proposito')
 .join(modes.rename({'Modo': 'mode_of_transportation'}, axis=1), on='ModoAgregado')
 .assign(distance=lambda x: x['DistEuclidiana'] / 1000)
 .pipe(lambda x: x[x.distance.between(0.5, 50)])
 .pipe(lambda x: x[x.AnoNac < 1995])
 .pipe(lambda x: x[x.mode_of_transportation != 'Otros'])
 #.pipe(lambda x: x[x.purpose.isin(['Al trabajo', 'Al estudio',])])
 .pipe(lambda x: x[pd.notnull(x.FactorLaboralNormal) & pd.notnull(x.Factor_LaboralNormal)])
 .join(comunas.rename(columns={'Comuna': 'municipality_origin'}), on='ComunaOrigen')
 .join(comunas.rename(columns={'Comuna': 'municipality_destination'}), on='ComunaDestino')
 .pipe(lambda x: x[x.municipality_origin.isin(urban_municipalities) & x.municipality_destination.isin(urban_municipalities)])
 .assign(weight=lambda x: x['FactorLaboralNormal'] * x['Factor_LaboralNormal'])
 .assign(mode_of_transportation=lambda x: x['mode_of_transportation'].map(lambda m: mode_mapping[m]))
 .assign(sector_origin=lambda x: x['SectorOrigen'].astype(np.int))
 .assign(sector_destination=lambda x: x['SectorDestino'].astype(np.int))
)

print(trip_features.shape, trip_features.weight.sum())

trip_features.head()

(41157, 82) 9340914.12474329

,Hogar,Persona,Etapas,ComunaOrigen,ComunaDestino,SectorOrigen,SectorDestino,ZonaOrigen,ZonaDestino,OrigenCoordX,...,DistManhattan,Imputada,purpose,mode_of_transportation,distance,municipality_origin,municipality_destination,weight,sector_origin,sector_destination
Viaje,,,,,,,,,,,,,,,,,,,,,
1734310202,173431,17343102,1,94.0,94.0,2.0,2.0,400,407,335208.7188,...,7608,0,volver a casa,bus,5.387,Maipú,Maipú,142.337500,2,2
1734410101,173441,17344101,2,94.0,71.0,2.0,3.0,407,307,338536.4375,...,26100,0,Al trabajo,intermodal_public,18.841,Maipú,Las Condes,127.328613,2,3
1734410102,173441,17344101,2,71.0,94.0,3.0,2.0,307,407,354267.3438,...,26100,0,volver a casa,intermodal_public,18.841,Las Condes,Maipú,127.328613,3,2
1734410301,173441,17344103,2,94.0,91.0,2.0,3.0,407,437,338536.4375,...,17589,0,Al trabajo,intermodal_public,13.392,Maipú,Ñuñoa,116.697351,2,3
1734410302,173441,17344103,2,91.0,94.0,3.0,2.0,437,407,350841.6563,...,17589,0,volver a casa,intermodal_public,13.392,Ñuñoa,Maipú,108.989137,3,2

In [82]:
def add_period(trips, start, end, name):
    index_values = pd.DatetimeIndex(trips.start_datetime).indexer_between_time(start, end)
    trips['period'].iloc[index_values] = name

def add_periods(df):
    df['period'] = 'n/a'
    add_period(df, '6:01', '7:30:59', 'morning_peak_1')
    add_period(df, '7:31', '9:00:59', 'morning_peak_2')
    add_period(df, '9:01', '12:00:59', 'morning_valley')
    add_period(df, '12:01', '17:30:59', 'afternoon_valley')
    add_period(df, '17:31', '20:30:59', 'afternoon_peak')
    add_period(df, '20:31', '23:00:59', 'night_valley')
    add_period(df, '23:01', '23:59:59', 'night')
    add_period(df, '0:00', '6:00:59', 'night')
    return df

In [83]:
trip_features['start_datetime'] = pd.to_datetime(trip_features.HoraIni)

In [84]:
trip_features = add_periods(trip_features).drop('start_datetime', axis=1)

/home/egraells/hdd_slow/miniconda3/envs/azuki/lib/python3.6/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [85]:
trip_features.mode_of_transportation.value_counts(normalize=True)

private               0.326311
bus                   0.256335
intermodal_public     0.154457
pedestrian            0.091503
rail                  0.086012
shared_taxi           0.034210
non_motorized         0.033725
intermodal_private    0.017445
Name: mode_of_transportation, dtype: float64

In [86]:
home_data = pd.read_csv('./2012_eod_stgo/EOD_STGO/Hogares.csv', sep=';', decimal=',')
home_data.head()

,Hogar,Sector,Zona,Comuna,DirCoordX,DirCoordY,Fecha,DiaAsig,TipoDia,Temporada,...,NumVeh,NumBicAdulto,NumBicNino,Propiedad,MontoDiv,ImputadoDiv,MontoArr,ImputadoArr,IngresoHogar,Factor
0,100010,7,786,BUIN,335180.8019,6266420.975,14-04-2013,domingo,2,1,...,1,1,0,2,53000.0,0,100000,0,450845,136.393738
1,100020,7,785,BUIN,338410.2114,6265607.141,10-04-2013,miércoles,1,1,...,1,3,0,1,NaN,0,120000,0,1019369,73.843597
2,100030,7,791,BUIN,327863.8248,6257800.086,23-08-2013,viernes,1,1,...,0,0,0,3,NaN,0,70000,0,80000,180.722809
3,100041,7,791,BUIN,327864.0000,6257800.000,23-08-2013,viernes,1,1,...,0,1,0,1,NaN,0,80000,0,559259,150.379059
4,100052,7,783,BUIN,338480.8152,6267296.941,08-08-2013,jueves,1,1,...,0,0,0,1,NaN,0,117771,1,710309,122.001518

In [87]:
def weighted_mean(df, value, weight):
    weighted_sum = (df[value] * df[weight]).sum()
    return weighted_sum / df[weight].sum()

In [88]:
zone_income = np.log(home_data.groupby('Zona').apply(lambda x: weighted_mean(x, 'IngresoHogar', 'Factor')))
zone_income.name = 'mean_home_income'
zone_income

Zona
1      13.514147
2      13.222234
3      13.217895
4      13.436175
5      13.313145
         ...
857    13.025526
858    13.178304
859    13.033426
860    13.094588
861    13.131459
Name: mean_home_income, Length: 790, dtype: float64

In [89]:
pd.DataFrame(zone_income).to_csv('2017_results/zone_income.csv.gz', compression='gzip')

In [90]:
zone_centroids = urban_zones.to_crs({'init': 'epsg:5361'}).set_index('ID').centroid
zone_positions = np.vstack([zone_centroids.geometry.x, zone_centroids.geometry.y]).T
zone_positions

/home/egraells/hdd_slow/miniconda3/envs/azuki/lib/python3.6/site-packages/pyproj/crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

array([[ 346043.18734985, 6285611.65218563],
       [ 344798.10056731, 6286014.91612034],
       [ 343242.17900135, 6285147.30263151],
       ...,
       [ 360131.96894758, 6304501.00919612],
       [ 360996.53131618, 6306574.01591798],
       [ 360460.06352847, 6303691.45034778]])

In [91]:
from scipy.spatial.distance import pdist, squareform
zone_distance_matrix = squareform(pdist(zone_positions)) / 1000
zone_distance_matrix

array([[ 0.        ,  1.30876388,  2.83923727, ..., 23.56483769,
        25.74923667, 23.12413069],
       [ 1.30876388,  0.        ,  1.78147273, ..., 24.0179757 ,
        26.17376059, 23.61687842],
       [ 2.83923727,  1.78147273,  0.        , ..., 25.68717505,
        27.82662517, 25.30495924],
       ...,
       [23.56483769, 24.0179757 , 25.68717505, ...,  0.        ,
         2.24606878,  0.87351679],
       [25.74923667, 26.17376059, 27.82662517, ...,  2.24606878,
         0.        ,  2.93206104],
       [23.12413069, 23.61687842, 25.30495924, ...,  0.87351679,
         2.93206104,  0.        ]])

In [92]:
zone_distance_pairs = pd.DataFrame(zone_distance_matrix, 
             index=list(zone_centroids.index), 
             columns=list(zone_centroids.index)).unstack().reset_index()
zone_distance_pairs.columns = ['ZonaOrigen', 'ZonaDestino', 'distance']
zone_distance_pairs = zone_distance_pairs.set_index(['ZonaOrigen', 'ZonaDestino'])
zone_distance_pairs

                        distance
ZonaOrigen ZonaDestino
103        103          0.000000
           104          1.308764
           106          2.839237
           115          2.031142
           116          0.639319
...                          ...
318        329          5.895794
           330          4.438945
           301          0.873517
           311          2.932061
           318          0.000000

[547600 rows x 1 columns]

In [93]:
zone_distance_pairs.to_csv('2017_results/zone_distances.csv.gz', compression='gzip')

In [94]:
feature_matrix = (trip_features
                  .join(zone_income, on='ZonaOrigen', how='inner')
                  .rename({'mean_home_income': 'origin_income'}, axis=1)
                  .join(zone_income, on='ZonaDestino', how='inner')
                  .rename({'mean_home_income': 'destination_income'}, axis=1)
                  [['distance', 'mode_of_transportation', 'origin_income', 'destination_income', 'weight', 'period']])
feature_matrix

,distance,mode_of_transportation,origin_income,destination_income,weight,period
Viaje,,,,,,
1734310202,5.387,bus,13.551591,13.382223,142.337500,night_valley
1760710102,5.406,non_motorized,13.551591,13.382223,148.500883,night_valley
1851030102,5.856,non_motorized,13.551591,13.382223,218.391272,afternoon_valley
1734410102,18.841,intermodal_public,13.685452,13.382223,127.328613,night_valley
1734410302,13.392,intermodal_public,13.982211,13.382223,108.989137,afternoon_peak
...,...,...,...,...,...,...
1458800101,0.534,private,12.881888,12.402366,217.569989,morning_peak_1
2329900103,1.351,bus,13.657952,13.192511,420.930400,afternoon_valley
2257020201,3.290,bus,13.613035,13.192511,108.324800,morning_valley
2261610201,2.389,bus,13.613035,13.192511,104.141300,afternoon_valley
2202300402,2.349,bus,13.102898,13.192511,241.167600,morning_valley

In [95]:
feature_matrix.period.unique()

array(['night_valley', 'afternoon_valley', 'afternoon_peak',
       'morning_valley', 'morning_peak_2', 'night', 'morning_peak_1'],
      dtype=object)

In [96]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [97]:
feature_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39538 entries, 1734310202 to 2202300402
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   distance                39538 non-null  float64
 1   mode_of_transportation  39538 non-null  object
 2   origin_income           39538 non-null  float64
 3   destination_income      39538 non-null  float64
 4   weight                  39538 non-null  float64
 5   period                  39538 non-null  object
dtypes: float64(4), object(2)
memory usage: 2.1+ MB

In [98]:
feature_matrix['mode_of_transportation'] = pd.Categorical(feature_matrix['mode_of_transportation'])

In [99]:
feature_matrix['mode_code'] = feature_matrix['mode_of_transportation'].cat.codes

In [100]:
feature_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39538 entries, 1734310202 to 2202300402
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   distance                39538 non-null  float64
 1   mode_of_transportation  39538 non-null  category
 2   origin_income           39538 non-null  float64
 3   destination_income      39538 non-null  float64
 4   weight                  39538 non-null  float64
 5   period                  39538 non-null  object
 6   mode_code               39538 non-null  int8
dtypes: category(1), float64(4), int8(1), object(1)
memory usage: 1.9+ MB

In [101]:
formula = 'mode_code ~ distance + origin_income + destination_income + C(period)'

In [102]:
model = smf.mnlogit(formula, feature_matrix, freq_weights=feature_matrix['weight'])
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 1.460986
         Iterations 9

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:              mode_code   No. Observations:                39538
Model:                        MNLogit   Df Residuals:                    39468
Method:                           MLE   Df Model:                           63
Date:                Mon, 01 Jun 2020   Pseudo R-squ.:                  0.1613
Time:                        18:53:14   Log-Likelihood:                -57764.
converged:                       True   LL-Null:                       -68875.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================
                  mode_code=1       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -22.8786      1.479    -15.469      0.000     -25.777     -19.980
C(period)[T.afternoon_valley]    -0.2292      0.116     -1.969      0.049      -0.457      -0.001
C(period)[T.morning_peak_1]      -0.0105      0.127     -0.083      0.934      -0.259       0.238
C(period)[T.morning_peak_2]       0.0045      0.134      0.034      0.973      -0.258       0.267
C(period)[T.morning_valley]      -0.1210      0.138     -0.877      0.381      -0.391       0.149
C(period)[T.night]               -1.2882      0.299     -4.312      0.000      -1.874      -0.703
C(period)[T.night_valley]         0.0814      0.192      0.425      0.671      -0.294       0.457
distance                          0.1380      0.006     21.416      0.000       0.125       0.151
origin_income                     0.6491      0.081      7.973      0.000       0.490       0.809
destination_income                0.7652      0.081      9.470      0.000       0.607       0.924
-------------------------------------------------------------------------------------------------
                  mode_code=2       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -14.3590      0.699    -20.540      0.000     -15.729     -12.989
C(period)[T.afternoon_valley]    -0.1282      0.051     -2.516      0.012      -0.228      -0.028
C(period)[T.morning_peak_1]       0.0369      0.058      0.639      0.523      -0.076       0.150
C(period)[T.morning_peak_2]       0.0161      0.061      0.265      0.791      -0.103       0.135
C(period)[T.morning_valley]      -0.4248      0.065     -6.537      0.000      -0.552      -0.297
C(period)[T.night]               -0.3970      0.094     -4.226      0.000      -0.581      -0.213
C(period)[T.night_valley]         0.1233      0.086      1.436      0.151      -0.045       0.292
distance                          0.1589      0.003     50.804      0.000       0.153       0.165
origin_income                     0.4402      0.040     11.106      0.000       0.362       0.518
destination_income                0.4835      0.039     12.262      0.000       0.406       0.561
-------------------------------------------------------------------------------------------------
                  mode_code=3       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -11.2063      1.025    -10.930      0.000     -13.216      -9.197
C(period)[T.afternoon_valley]    -0.4175      0.083     -5.029      0.000      -0.580      -0.255
C(period)[T.morning_peak_1]      -0.1341      0.109     -1.228      0.219      -0.348       0.080
C(period)[T.morning_peak_2]      -0.2189      0.098     -2.244      0.025      -0.410      -0.028
C(period)[T.morning_valley]      -0.8796      0.107     -8.208      0.000      -1.090      -0.670
C(period)[T.night]               -0.4281      0.207     -2.065      0.039      -0.834      -0.022
C(period)[T.night_valley]        -0.0364      0.140     -0.261      0.794      -0.310       0.237
distance                         -0.3572      0.013    -27.239      0.000      -0.383      -0.331
origin_income                     0.3961      0.074      5.341      0.000       0.251       0.541
destination_income                0.4263      0.074      5.780      0.000       0.282       0.571
-------------------------------------------------------------------------------------------------
                  mode_code=4       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        -2.4340      0.788     -3.088      0.002      -3.979      -0.889
C(period)[T.afternoon_valley]    -0.1423      0.064     -2.216      0.027      -0.268      -0.016
C(period)[T.morning_peak_1]      -0.8795      0.112     -7.860      0.000      -1.099      -0.660
C(period)[T.morning_peak_2]      -0.2588      0.079     -3.297      0.001      -0.413      -0.105
C(period)[T.morning_valley]      -0.1925      0.073     -2.636      0.008      -0.336      -0.049
C(period)[T.night]               -0.9907      0.197     -5.039      0.000      -1.376      -0.605
C(period)[T.night_valley]        -0.3181      0.120     -2.657      0.008      -0.553      -0.083
distance                         -1.2886      0.025    -51.676      0.000      -1.337      -1.240
origin_income                     0.1886      0.060      3.166      0.002       0.072       0.305
destination_income                0.1720      0.060      2.882      0.004       0.055       0.289
-------------------------------------------------------------------------------------------------
                  mode_code=5       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -26.1670      0.532    -49.163      0.000     -27.210     -25.124
C(period)[T.afternoon_valley]    -0.1905      0.041     -4.682      0.000      -0.270      -0.111
C(period)[T.morning_peak_1]      -0.2605      0.051     -5.119      0.000      -0.360      -0.161
C(period)[T.morning_peak_2]      -0.1005      0.049     -2.066      0.039      -0.196      -0.005
C(period)[T.morning_valley]      -0.4224      0.048     -8.726      0.000      -0.517      -0.328
C(period)[T.night]               -0.0226      0.079     -0.285      0.776      -0.178       0.133
C(period)[T.night_valley]         0.2960      0.068      4.341      0.000       0.162       0.430
distance                         -0.0349      0.003    -12.040      0.000      -0.041      -0.029
origin_income                     0.9891      0.033     30.362      0.000       0.925       1.053
destination_income                0.9916      0.033     30.501      0.000       0.928       1.055
-------------------------------------------------------------------------------------------------
                  mode_code=6       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -17.7888      0.734    -24.250      0.000     -19.227     -16.351
C(period)[T.afternoon_valley]    -0.0870      0.056     -1.548      0.122      -0.197       0.023
C(period)[T.morning_peak_1]      -0.3241      0.072     -4.488      0.000      -0.466      -0.183
C(period)[T.morning_peak_2]      -0.1265      0.068     -1.847      0.065      -0.261       0.008
C(period)[T.morning_valley]      -0.2349      0.067     -3.498      0.000      -0.367      -0.103
C(period)[T.night]               -1.6296      0.195     -8.355      0.000      -2.012      -1.247
C(period)[T.night_valley]        -0.0994      0.102     -0.977      0.329      -0.299       0.100
distance                          0.0143      0.004      3.660      0.000       0.007       0.022
origin_income                     0.6068      0.045     13.503      0.000       0.519       0.695
destination_income                0.6393      0.045     14.198      0.000       0.551       0.727
-------------------------------------------------------------------------------------------------
                  mode_code=7       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                         8.4897      1.203      7.055      0.000       6.131      10.848
C(period)[T.afternoon_valley]     0.1540      0.089      1.724      0.085      -0.021       0.329
C(period)[T.morning_peak_1]      -0.3928      0.132     -2.982      0.003      -0.651      -0.135
C(period)[T.morning_peak_2]      -0.0422      0.110     -0.383      0.702      -0.258       0.174
C(period)[T.morning_valley]       0.4476      0.095      4.713      0.000       0.261       0.634
C(period)[T.night]               -0.6883      0.249     -2.768      0.006      -1.176      -0.201
C(period)[T.night_valley]         0.0356      0.158      0.225      0.822      -0.275       0.346
distance                         -0.2084      0.010    -21.303      0.000      -0.228      -0.189
origin_income                    -0.4275      0.078     -5.466      0.000      -0.581      -0.274
destination_income               -0.2856      0.078     -3.648      0.000      -0.439      -0.132
=================================================================================================
"""

In [103]:
results.get_margeff(at='mean').summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
       MNLogit Marginal Effects
=====================================
Dep. Variable:              mode_code
Method:                          dydx
At:                              mean
=================================================================================================
                  mode_code=0      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]     0.0335      0.008      4.365      0.000       0.018       0.049
C(period)[T.morning_peak_1]       0.0450      0.009      4.782      0.000       0.027       0.064
C(period)[T.morning_peak_2]       0.0174      0.009      1.888      0.059      -0.001       0.035
C(period)[T.morning_valley]       0.0784      0.009      8.640      0.000       0.061       0.096
C(period)[T.night]                0.0897      0.016      5.701      0.000       0.059       0.121
C(period)[T.night_valley]        -0.0377      0.013     -2.844      0.004      -0.064      -0.012
distance                          0.0002      0.001      0.462      0.644      -0.001       0.001
origin_income                    -0.1605      0.006    -25.823      0.000      -0.173      -0.148
destination_income               -0.1655      0.006    -26.699      0.000      -0.178      -0.153
-------------------------------------------------------------------------------------------------
                  mode_code=1      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]    -0.0020      0.002     -1.088      0.277      -0.006       0.002
C(period)[T.morning_peak_1]       0.0022      0.002      1.117      0.264      -0.002       0.006
C(period)[T.morning_peak_2]       0.0010      0.002      0.474      0.636      -0.003       0.005
C(period)[T.morning_valley]       0.0022      0.002      0.995      0.320      -0.002       0.007
C(period)[T.night]               -0.0166      0.005     -3.468      0.001      -0.026      -0.007
C(period)[T.night_valley]        -0.0007      0.003     -0.219      0.827      -0.007       0.005
distance                          0.0023   9.81e-05     23.561      0.000       0.002       0.003
origin_income                     0.0022      0.001      1.713      0.087      -0.000       0.005
destination_income                0.0039      0.001      3.043      0.002       0.001       0.006
-------------------------------------------------------------------------------------------------
                  mode_code=2      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]    -0.0026      0.005     -0.514      0.607      -0.013       0.007
C(period)[T.morning_peak_1]       0.0237      0.006      4.148      0.000       0.012       0.035
C(period)[T.morning_peak_2]       0.0094      0.006      1.560      0.119      -0.002       0.021
C(period)[T.morning_valley]      -0.0224      0.007     -3.350      0.001      -0.035      -0.009
C(period)[T.night]               -0.0140      0.010     -1.436      0.151      -0.033       0.005
C(period)[T.night_valley]         0.0002      0.008      0.030      0.976      -0.016       0.017
distance                          0.0208      0.000     70.546      0.000       0.020       0.021
origin_income                    -0.0101      0.004     -2.654      0.008      -0.018      -0.003
destination_income               -0.0065      0.004     -1.731      0.083      -0.014       0.001
-------------------------------------------------------------------------------------------------
                  mode_code=3      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]    -0.0054      0.001     -3.932      0.000      -0.008      -0.003
C(period)[T.morning_peak_1]       0.0002      0.002      0.108      0.914      -0.003       0.004
C(period)[T.morning_peak_2]      -0.0029      0.002     -1.782      0.075      -0.006       0.000
C(period)[T.morning_valley]      -0.0110      0.002     -5.987      0.000      -0.015      -0.007
C(period)[T.night]               -0.0024      0.004     -0.696      0.487      -0.009       0.004
C(period)[T.night_valley]        -0.0028      0.002     -1.215      0.224      -0.007       0.002
distance                         -0.0063      0.000    -31.797      0.000      -0.007      -0.006
origin_income                    -0.0021      0.001     -1.737      0.082      -0.005       0.000
destination_income               -0.0019      0.001     -1.546      0.122      -0.004       0.001
-------------------------------------------------------------------------------------------------
                  mode_code=4      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]  -1.27e-05   2.19e-05     -0.580      0.562   -5.56e-05    3.02e-05
C(period)[T.morning_peak_1]      -0.0003   5.36e-05     -5.081      0.000      -0.000      -0.000
C(period)[T.morning_peak_2]   -7.524e-05   2.86e-05     -2.630      0.009      -0.000   -1.92e-05
C(period)[T.morning_valley]    2.234e-05   2.51e-05      0.890      0.373   -2.69e-05    7.15e-05
C(period)[T.night]               -0.0003   7.82e-05     -3.327      0.001      -0.000      -0.000
C(period)[T.night_valley]        -0.0002   4.65e-05     -3.508      0.000      -0.000    -7.2e-05
distance                         -0.0005   5.66e-05     -8.447      0.000      -0.001      -0.000
origin_income                    -0.0001   2.64e-05     -4.633      0.000      -0.000   -7.05e-05
destination_income               -0.0001   2.73e-05     -4.917      0.000      -0.000   -8.07e-05
-------------------------------------------------------------------------------------------------
                  mode_code=5      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]    -0.0321      0.008     -3.981      0.000      -0.048      -0.016
C(period)[T.morning_peak_1]      -0.0448      0.010     -4.378      0.000      -0.065      -0.025
C(period)[T.morning_peak_2]      -0.0173      0.010     -1.800      0.072      -0.036       0.002
C(period)[T.morning_valley]      -0.0660      0.010     -6.722      0.000      -0.085      -0.047
C(period)[T.night]                0.1037      0.018      5.891      0.000       0.069       0.138
C(period)[T.night_valley]         0.0679      0.013      5.169      0.000       0.042       0.094
distance                         -0.0133      0.001    -22.619      0.000      -0.014      -0.012
origin_income                     0.1834      0.006     29.659      0.000       0.171       0.195
destination_income                0.1781      0.006     28.906      0.000       0.166       0.190
-------------------------------------------------------------------------------------------------
                  mode_code=6      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]     0.0024      0.005      0.473      0.636      -0.007       0.012
C(period)[T.morning_peak_1]      -0.0201      0.007     -3.074      0.002      -0.033      -0.007
C(period)[T.morning_peak_2]      -0.0079      0.006     -1.297      0.195      -0.020       0.004
C(period)[T.morning_valley]       0.0020      0.006      0.330      0.742      -0.010       0.014
C(period)[T.night]               -0.1506      0.019     -8.131      0.000      -0.187      -0.114
C(period)[T.night_valley]        -0.0248      0.009     -2.743      0.006      -0.043      -0.007
distance                          0.0017      0.000      4.830      0.000       0.001       0.002
origin_income                     0.0100      0.004      2.566      0.010       0.002       0.018
destination_income                0.0119      0.004      3.031      0.002       0.004       0.020
-------------------------------------------------------------------------------------------------
                  mode_code=7      dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(period)[T.afternoon_valley]     0.0063      0.002      3.105      0.002       0.002       0.010
C(period)[T.morning_peak_1]      -0.0059      0.003     -1.968      0.049      -0.012   -2.54e-05
C(period)[T.morning_peak_2]       0.0003      0.002      0.134      0.893      -0.005       0.005
C(period)[T.morning_valley]       0.0168      0.002      7.687      0.000       0.013       0.021
C(period)[T.night]               -0.0096      0.006     -1.666      0.096      -0.021       0.002
C(period)[T.night_valley]        -0.0021      0.004     -0.576      0.564      -0.009       0.005
distance                         -0.0050      0.000    -26.321      0.000      -0.005      -0.005
origin_income                    -0.0227      0.002    -12.414      0.000      -0.026      -0.019
destination_income               -0.0197      0.002    -10.846      0.000      -0.023      -0.016
=================================================================================================
"""

In [108]:
list(feature_matrix.mode_of_transportation.cat.categories)

['bus',
 'intermodal_private',
 'intermodal_public',
 'non_motorized',
 'pedestrian',
 'private',
 'rail',
 'shared_taxi']

In [109]:
import json
# sadly statsmodels doesn't save this. presumably it's in alphabetical order, but it's better to check.
column_names = list(feature_matrix.mode_of_transportation.cat.categories)
print(column_names)

with open('2017_results/mnlogit_column_names.json', 'wt') as f:
    json.dump(column_names, f)

['bus', 'intermodal_private', 'intermodal_public', 'non_motorized', 'pedestrian', 'private', 'rail', 'shared_taxi']

In [110]:
import joblib

joblib.dump(results, '2017_results/trips_mnlogit_zone_model_instance.joblib.gz')

['2017_results/trips_mnlogit_zone_model_instance.joblib.gz']